{% extends 'base.html.twig' %}

{% block title %}admin index{% endblock %}

{% block body %}
    <h1>Tableau des utilisateurs actifs</h1>
<table id="table1" class="display" style="width:90%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Tel</th>
                <th>DateNaissance</th>
                <th>DateCreation</th>
{#                <th>Actif</th>
                <th>IsDeleted</th>#}
{#                <th>Sexe</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Tel</th>
                <th>DateNaissance</th>
                <th>DateCreation</th>
{#                <th>Actif</th>#}
{#                <th>IsDeleted</th>#}
{#                <th>Sexe</th>#}
                <th>actions</th>
            </tr>
        </tfoot>
    </table>
    <h1>Tableau des utilisateurs inactifs(suppr)</h1>
        <table id="table2" class="display" style="width:90%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Mail</th>
                        <th>Tel</th>
                        <th>DateNaissance</th>
                        <th>DateCreation</th>
        {#                <th>Actif</th>
                        <th>IsDeleted</th>#}
        {#                <th>Sexe</th>#}
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Mail</th>
                        <th>Tel</th>
                        <th>DateNaissance</th>
                        <th>DateCreation</th>
        {#                <th>Actif</th>#}
        {#                <th>IsDeleted</th>#}
        {#                <th>Sexe</th>#}
                        <th>actions</th>
                    </tr>
                </tfoot>
            </table>
                        
<div class="modal" tabindex="-1" role="dialog" id="editTable1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
                        
                        
            <script>  
var cols = null;
var names = null;
var datatables = null
var table= null;
var table2= null;
$(document).ready(function() {
                $.ajax({
                method: "get",
                url: window.location+"user/actif",
                dataType: "json",
            }).done( function(response) {
{#                  data = response.data;#}
                console.log((response))
                        cols = [
            {"data": "id"},
            {"data": "nom"},
            {"data": "prenom"},
            {"data": "mail"},
            {"data": "tel"},
            {"data": "dateNaissance"},
            {"data": "dateCreation"},
            null
        ];
             table=    $('#table1').DataTable({
                    language: {
                        url: "/build/DT_French.json"
                    },
                    ajax: {
                        url: window.location+"user/actif",
                        dataSrc: "data"},
                    responsive: true,
                    lengthMenu: [5, 10, 15, 20, 25, 50, 100, 150, 200],
                    pageLength: 10,
        columnDefs: [ {
        targets: -1,
        data: null,
        defaultContent: "<button id='edit'>Edit.</button><button id='suppr'>Suppr.</button>"
    } ],
                    columns: cols
                });
            }).fail(function(xhr, status, error){
                alert(xhr.responseText)
                console.log(status);
                console.log(error);
            });
    
} ); 

    $('#table1 tbody').on( 'click', '#edit', function () {
        var data = table.row( $(this).parents('tr') ).data();
        alert( data["nom"] +" peut être modifié");
    } );
    $('#table1 tbody').on( 'click', '#suppr', function () {
        var data = table.row( $(this).parents('tr') ).data();
        supprUsr( data['id']);
        alert( data["nom"] +" peut être supprimé" );
            table
        .row( $(this).parents('tr') )
        .remove()
        .draw();
    } );
    
    // Partie dédiée à la table des utilisateurs supprimés
    cols = [
            {"data": "id"},
            {"data": "nom"},
            {"data": "prenom"},
            {"data": "mail"},
            {"data": "tel"},
            {"data": "dateNaissance"},
            {"data": "dateCreation"},
            null];
    table2 =    $('#table2').DataTable({
                    language: {
                        url: "/build/DT_French.json"
                    },
                    ajax: {
                        url: window.location+"user/del",
                        dataSrc: "data"},
                    responsive: true,
                    lengthMenu: [5, 10, 15, 20, 25, 50, 100, 150, 200],
                    pageLength: 10,
        columnDefs: [ {
        targets: -1,
        data: null,
{#        defaultContent: "<button id='edit2'>Edit.</button><button id='react'>react.</button>"#}
        defaultContent: "<button type='button' class='btn btn-primary' data-toggle='modal' data-target='#editTable1'>Launch demo modal</button>"
    } ],
                    columns: cols
                });
            
    

    $('#table2 tbody').on( 'click', '#edit2', function () {
        var data = table2.row( $(this).parents('tr') ).data();
        alert( data["nom"] +" peut être modifié");
    } );
    $('#table2 tbody').on( 'click', '#react', function () {
        var data = table2.row( $(this).parents('tr') ).data();
        unbanUsr( data['id']);
        alert( data["nom"] +" peut être supprimé" );
            table2
        .row( $(this).parents('tr') )
        .remove()
        .draw();
        table.reload();
    } );
    
    
    $('#editTable1').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
    
        var n = document.createElement('script');
        n.setAttribute('language', 'JavaScript');
        n.setAttribute('src', 'https://debug.datatables.net/debug.js');
        document.body.appendChild(n);
</script>

            <script>
            $('#popup')
                .popup({
                    inline: true,
                    on:'click'
                })
            ;
        </script>
            <script src="{{ asset('build/admin.js') }}"/>
{% endblock %}
